EUREKA_DEFAULT_ZONE=http://localhost:8761/eureka/

MEMBER_DB_HOST=
MEMBER_DB_NAME=
MEMBER_DB_USER=
MEMBER_DB_PASSWORD=

MEMBERSHIP_DB_HOST=
MEMBERSHIP_DB_NAME=
MEMBERSHIP_DB_USER=
MEMBERSHIP_DB_PASSWORD=

PAYMENT_DB_HOST=
PAYMENT_DB_NAME=
PAYMENT_DB_USER=
PAYMENT_DB_PASSWORD=

BOOKING_DB_HOST=
BOOKING_DB_PORT=5432
BOOKING_DB_NAME=
BOOKING_DB_USER=
BOOKING_DB_PASSWORD=

TRAINER_DB_HOST=
TRAINER_DB_PORT=5432
TRAINER_DB_NAME=
TRAINER_DB_USER=
TRAINER_DB_PASSWORD=

ACCESS_DB_HOST=
ACCESS_DB_PORT=5432
ACCESS_DB_NAME=
ACCESS_DB_USER=
ACCESS_DB_PASSWORD=

EQUIPMENT_DB_HOST=
EQUIPMENT_DB_PORT=5432
EQUIPMENT_DB_NAME=
EQUIPMENT_DB_USER=
EQUIPMENT_DB_PASSWORD=

BRANCH_DB_HOST=
BRANCH_DB_PORT=5432
BRANCH_DB_NAME=
BRANCH_DB_USER=
BRANCH_DB_PASSWORD=

NOTIFICATION_DB_HOST=
NOTIFICATION_DB_PORT=5432
NOTIFICATION_DB_NAME=
NOTIFICATION_DB_USER=
NOTIFICATION_DB_PASSWORD=

MEMBER_SERVICE_URL=http://localhost:8081
MEMBERSHIP_SERVICE_URL=http://localhost:8082
PAYMENT_SERVICE_URL=http://localhost:8083
BOOKING_SERVICE_URL=http://localhost:8085
CLASS_SERVICE_URL=http://localhost:8084
TRAINER_SERVICE_URL=http://localhost:8086
ACCESS_SERVICE_URL=http://localhost:8087
EQUIPMENT_SERVICE_URL=http://localhost:8088
BRANCH_SERVICE_URL=http://localhost:8089
NOTIFICATION_SERVICE_URL=http://localhost:8090
